#welcome {
  display: block;
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #b5838d;
  color: white;
  top: 0px !important;
  text-align: center;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#chartCases {
  top: 250px;
  position: relative;
  width: 85% !important;
  height: 500px !important;
  left: 8%;
}

#firstChart {
  position: absolute;
  color: #6d6875;
  top: 200px;
  text-align: center;
  width: 100%;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}
#secondChart {
  position: absolute;
  color: #6d6875;
  top: 800px;
  text-align: center;
  width: 100%;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}

#thirdChart {
  position: absolute;
  color: #6d6875;
  top: 1620px;
  text-align: center;
  width: 100%;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}

#fourthChart {
  position: absolute;
  color: #6d6875;
  top: 2400px;
  text-align: center;
  width: 100%;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}

#fifthChart {
  position: absolute;
  color: #6d6875;
  top: 3200px;
  text-align: center;
  width: 100%;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}

#sixthChart {
  position: absolute;
  color: #6d6875;
  top: 3970px;
  text-align: center;
  width: 100%;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}

#seventhChart {
  position: absolute;
  color: #6d6875;
  top: 4900px;
  text-align: center;
  width: 100%;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}

#stackedBarChart {
  position: relative;
  width: 85% !important;
  height: 600px !important;
  left: 8%;
  top: 500px;
}

#chartPie {
  position: relative;
  width: 75% !important;
  height: 75% !important;
  top: 350px;
  left: 12%;
}

#lineChart {
  position: relative;
  width: 85% !important;
  height: 600px !important;
  left: 8%;
  top: 700px;
}

#lineChart2 {
  position: relative;
  width: 85% !important;
  height: 600px !important;
  left: 8%;
  top: 900px;
}

#pieChartCases {
  position: relative;
  width: 75% !important;
  height: 75% !important;
  top: 1070px;
  left: 12%;
}

#pieChartDeaths {
  position: relative;
  width: 75% !important;
  height: 75% !important;
  top: 1300px;
  left: 12%;
}

content {
  width: 40%;
  left: 50px;
}

canvas {
  background-color: lightgrey;
  border-radius: 5% 5% 5% 5%;
}
